body {
  background:#EBEBEB;
}

.App {
  text-align: center;
}

/* STYLES for head.js */ 

.head {
  margin-bottom: 1rem;
} 
.head__title {
  color: #FC7233;
  font-weight: 350;
  text-align: center;
}

.head__progress-bar {
  margin: 0 auto;
  width: 80%;
  height: 2px;

}
.head__progress-bar--full {
  width:100%;
}

/*styles for results.js*/
.results {
  background: white;
  border-radius:5px;
  padding: 5px 5px;
}

.results__title {
  margin-left: 15px;
  font-weight: 300;
  font-size: 2rem;
}

.results__legend-base {
  display: inline-block;
  margin-left: 15px;
  padding-bottom: 10px;
  margin-right: 5px;
  height: 0;
  width: 10px;
}

.results__legend--energy {
  background-color: #2BAE67;
}
.results__legend--valence {
  background-color: #2f98bf;
}
.results__legend--dance {
  background-color: #be90d4
}

/*Styles for search.js*/
.search {
  background: white;
  border-radius:5px;
  padding: 5px 5px;
}
.search__submit-button {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.search__instructions {
  font-weight: 400;
  font-size: 1.5rem;
}


.search__progress-bar-parent {
  vertical-align: middle;
  margin-bottom: 10px;
  margin-top:0;
  margin-left: 0;
  border-radius: 8px;
  background: #EBEBEB;
  width: 100%;
  height: 1.5rem;
}
.search__progress-bar{
  height: 1.5rem;
  border-radius: 8px;
}
.search__display-percentage {
  font-weight: 500;
  color: black;
}

.search__display-valence {
  color: #2BAE67;

}
.search__display-energy {
  color:#2f98bf;
}
.search__display-dance {
  color: #be90d4;
}

.search__progress-bar--valence {
  height: 1.5rem;
  border-radius: 8px;
  background-color: #2BAE67 !important;
}
.search__progress-bar--energy {
  height: 1.5rem;
  border-radius: 8px;
  background-color: #2f98bf !important;
}
.search__progress-bar--dance{
  height: 1.5rem;
  border-radius: 8px;
  background-color: #be90d4 !important;
}



/*trackinfo classes */
.trackInfo {
  padding: 14px;
  margin:1.2rem;
  border-top: 1px solid #ebebeb;

}
.trackInfo__image {
  width: 8rem;
  height:8rem;
  border-radius: 5px;
}

.trackInfo__song-info {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 1.3rem;
  color: #363636;
  font-weight:600;
  
}
.trackInfo__album-info {
  font-size: 1rem;
  font-weight:400;
  margin: 0;
}

.trackInfo__bar-wrapper {
  margin-top: 10px;
}


